<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product of skincear</title>
    <link rel="stylesheet" href="../static/style/index.css">
</head>

<body>
    <header>
        <div class="Column">
            <img src="../static/image/image.png" alt="Logo">
            <!-- <h1>Welcome to My Glowskin</h1> -->

            <div class="list-btn">
                <button class="btn"><a href="/">Home page</a></button>
                <button class="btn"><a href="/about">About us</a></button>
                <button class="btn"><a href="/list">list Product</a></button>
                <button class="btn"><a href="/add">Add product</a></button>
            </div>
        </div>

    </header>
    <div class="contaner">
        <div class="Image">
            <img src="../static/image/image1.png" alt="Model">
        </div>
        <div class="Paragrap">
            <h2>New GlassSkin Cear</h2>
            <p>Elevate your skincear with Beuaty by Sievmey and Seyla " Where beuaty meets purity." </p>
            <div class="add">
                <button class="btn-small btn-small Shop Now "> Shop Now</button>
            </div>

        </div>
    </div>
    <div class="Pictur"></div>
    
    <footer>
        <p class="footer">Copyright &copy; 2024 My Glowskin. All rights reserved.</p>
    </footer>
</body>

</html>