<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List-student</title>
    <link rel="stylesheet" href="../static/style/list.css">
</head>

<body>
    <div class="content">
        <div class="card">
            <h2 style="text-align:center;"> List of product</h2>
            <!-- Download buttons -->
            <div style="text-align:center; margin:10px;">
                <a href="{{ url_for('download_products_excel') }}">
                    <button class="btn">Download Excel</button>
                </a>
            </div>

            <form method="GET" action="/list-products">
                <input type="text" name="q" placeholder="Search product..." value="{{ request.args.get('q', '') }}">

                <select name="brand">
                    <option value="All" {% if request.args.get('brand') in [None, 'All' ] %}selected{% endif %}>All
                        Brands</option>
                    {% for b in brands %}
                    <option value="{{ b }}" {% if request.args.get('brand')==b %}selected{% endif %}>{{ b }}</option>
                    {% endfor %}
                </select>
                <select name="sort">
                    <option value="new" {% if sort == "new" %}selected{% endif %}>Newest first</option>
                    <option value="old" {% if sort == "old" %}selected{% endif %}>Oldest first</option>
                </select>

                <button type="submit">Search</button>
            </form>


            <div class="btns">
                <button class="btn"> <a href="/about">Back to Home</a></button>
                <button class="btn add"><a href="/add">Add product +</a></button>
            </div>
            <table>
                <tr>
                    <th>Product ID</th>
                    <th>Name</th>
                    <th>brand</th>
                    <th>price</th>
                    <th>Quantity</th>
                    <th>Quick View</th>
                    <th>Action</th>
                </tr>
                {% for s in products %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ s[1] }}</td>
                    <td>{{ s[2] }}</td>
                    <td>{{ s[3] }}</td>
                    <td>{{ s[4] }}</td>

                    <td class="action-btn">
                        <button class="action">
                            <a href="{{ url_for('view_product', product_id=s[0])}}">View </a>
                        </button>
                    </td>
                    <td class="action-btn">
                        <button class="Edit">
                            <a href="{{ url_for('edit_products', product_id=s[0])}}">Edit</a>

                        </button>
                        <button class="Delete">
                            <a href="{{ url_for('delete_product', product_id=s[0])}}"
                                onclick="return confirm('Are you sure you want to delete this product?');">
                                Delete
                            </a>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>




</body>

</html>